/* Variables */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --basic_black: #000000;
  --basic_black-60: rgba(0, 0, 0, 0.60);
  --basic_black-30: rgba(0, 0, 0, 0.30);
  --basic_black-20: rgba(0, 0, 0, 0.20);
  --basic_black-10: rgba(0, 0, 0, 0.10);
  --basic_white: #FFFFFF;
  --basic_white-30: rgba(255, 255, 255, 0.3);
  
  --basic_grey: #EEEEEE;
  --social-media_grey: #E1E1E1;
  --logo_grey: #A6A6A6;
  --card_grey: #656565;
  
  --basic_grey-asphalt: #4D4D4D;
  --basic_grey-asphalt-10: rgba(77, 77, 77, 0.10);
  --basic_grey-asphalt-12: rgba(77, 77, 77, 0.12);
  --basic_grey-asphalt-40: rgba(77, 77, 77, 0.40);

  --border_default_grey: #D7DCDE;
  --border_hover_grey: #B4B9BB;
  --txt-border_default_grey: rgba(68, 68, 68, 0.5);
  --txt-border_focus_grey: #444444;

  --button_hover_grey: #DFDFDF;
  --button_click_grey: #D5D5D5;
  --button_active-item_grey: #DBDBDB;

  --basic_orange-dawn: #FB565A;
  --basic_orange-dawn-10: rgba(251, 86, 90, 0.10);
  --basic_orange-dawn-30: rgba(251, 86, 90, 0.30);
  --basic_carmine-pink: #E74246;
  --basic_strawberry-red: #D7373B;

  --button_default_jade: #00CA74;
  --button_hover_jade: #00BC6C;
  --button_click_jade: #00AA62;


  --button_default_pear: #EFC84A;
  --button_hover_pastel-yellow: #EAB534;
  --button_click_saturated-yellow: #E5A722;
}

/* Global */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic_black);
  text-transform: none;
  background-color: var(--basic_white);
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  margin: 0;
  padding:0;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
  
  
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic_black); 
  background-color: var(--basic_grey); 
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  padding: 0;
  margin: 0;
  
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 9px;
  background-color: var(--basic-black);
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  width: 160px;
  height: 65px;
  padding-top: 50px;
  padding-right: 202px;
  margin-bottom: 0px;


}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  margin-right: 175px;
  padding: 0;
  list-style: none;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;

}

.user-navigation {
  max-width: 140px;
  outline: 5px solid rgba(255, 0, 255, 1);
  outline-offset: -5px;
  padding-left: 25px;
  
}

.site-navigation a,
.logo a {
  color: var(--basic-black);
  display: flex;
  --justify-content: space-between;
  --align-content: space-between;
  padding: 76px 44px 0 0;
  outline: 5px solid rgba(140, 0, 255, 0.3);
  outline-offset: -5px;
}

.user-navigation a {
  color: var(--basic-black);
  display: flex;
  --justify-content: space-between;
  --align-content: space-between;
  padding: 76px 0 0 0;
  outline: 5px solid rgba(140, 0, 255, 0.3);
  outline-offset: -5px;
}

ul .padding-client {
  padding-right: 48px; 
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  --right: 45px;
  bottom: 80px;
  width: 74px;
 --left: 0px;
  height: 2px;
  background-color: var(--basic_orange-dawn);
  --outline: 5px solid rgba(38, 221, 14, 0.918);
  --outline-offset: -5px;
}

/* Slider */

.site-wrapper {
  min-width: 1160px;
  min-height: 431px;
  background-color: var(--basic_grey);
  background-repeat: no-repeat;
  background-position: top right;
  outline: 5px solid rgba(38, 221, 14, 0.918);
  outline-offset: -5px;
  
}

.site-wrapper-1 {
  background-image: url("/GIT/1063683-nerds-28/img/img_slider1.png");
}

.site-wrapper-2 {
  background-image: url("/GIT/1063683-nerds-28/img/img_slider2.png");
}

.site-wrapper-3 {
  background-image: url("/GIT/1063683-nerds-28/img/img_slider3.png");
}

.slider {
  position: relative;
  padding-top: 0px;
  text-align: left;
  color: var(--basic_black);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 538px;
  margin-top: 80px;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  
}

.slider-text {
  margin-bottom: 38px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  
}

.slider-controls {
  position: absolute;
  bottom: 17px;
  left: 553px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic_white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}


.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls button::before {
  content: "";
  top: 4px;
  left: 4px;
  position: absolute;
  padding: 0;
  width: 6px;
  height: 6px;
  --background-color: var(--basic_white);
  border: 2px solid var(--logo_grey);
  border-radius: 50%;
  --bottom: 5px;
  z-index: 2;
  
}



/* Icon Cart */

.cart::before {
  content: "";
  position: relative;
  top: 6px;
  left: -40px;
  width: 15px;
  height: 15px;
  --background-color: var(--logo_grey);
  background-image: url("/GIT/1063683-nerds-28/img/ic_cart.svg");
  --fill: var(--logo_grey);
  background-repeat: no-repeat;
  background-position: 0 0;
  --outline: 5px solid rgba(140, 0, 255, 0.3);
  --outline-offset: -5px;
}

.site-navigation a::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: var(--basic-white);
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic_orange-dawn);
}

.logo:hover,
.logo:focus {
  color: var(--basic_black);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic_black-30);
}
 
.logo:active {
  --fill: var(--logo_grey);
  opacity: 0.3; 
  --background-color: var(--logo_grey);
}

/*.site-navigation a:visited,
.user-navigation a:visited {
  background-color: var(--basic_black-30);}*/

/* Services */

.features {
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin-bottom: 80px;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
  
}

.feature-item {
  width: 300px;
  min-height: 347px;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.image-item {
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-row-start: 1;
}

.text-item {
  margin-bottom: 32px;
}

/* About studio */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.about-studio {
  outline: 5px solid rgba(255, 17, 0, 0.7);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  width:651px;
}

.about-studio-table {
  outline: 5px solid rgba(0, 255, 76, 0.7);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  width:360px;
  padding-left:149px;
  text-align: center;
}

/* Partners */

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.htmlacademy {
  outline: 5px solid rgba(38, 0, 255, 0.3);
  outline-offset: -5px;
  padding-right: 0;
}

.borodinsky {
  outline: 5px solid rgba(38, 0, 255, 0.3);
  outline-offset: -5px;
}

.pink {
  outline: 5px solid rgba(38, 0, 255, 0.3);
  outline-offset: -5px;
}

.mishka {
  outline: 5px solid rgba(38, 0, 255, 0.3);
  outline-offset: -5px;
}

/* Buttons */

.button {
  display: inline-block;
  --margin-top: 32px;
  padding: 17px 40px;
  border-radius: 3px;
  font:inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic_orange-dawn);
  color: var(--basic_white);
} 

.button:hover,
.button:focus {
  background-color: var(--basic_carmine-pink);
  color: var(--basic_white);
}

.button:active {
  background-color: var(--basic_strawberry-red);
  color: var(--basic_white-30);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic_grey-asphalt-10);
}

.template-list  .button:active {
background-color: var(--basic_strawberry-red);
color: var(--basic_white);
}

.services .button-green {
  background-color: var(--button_default_jade);
}

.services .button-green:hover,
.services .button-green:focus {
  background-color: var(--button_hover_jade);
}

.button-green:active {
  background-color: var(--button_click_jade);
  color: var(--basic_white-30);
}

.button-green.disabled,
.button-green:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic_grey-asphalt-10);
}

.services .button-yellow {
  background-color: var(--button_default_pear);
}

.services .button-yellow:hover,
.services .button-yellow:focus {
  background-color: var(--button_hover_pastel-yellow);
}

.button-yellow:active {
  background-color: var(--button_click_saturated-yellow);
  color: var(--basic_white-30);
}

.button-yellow.disabled,
.button-yellow:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic_grey-asphalt-10);
}

.button-filter {
  background-color: var(--basic_grey);
  height: 50px;
  width: 260px;
  color: var(--basic_black);
  text-align: center;
  padding: 0px;
  border: none;
}


.button-filter:hover,
.button-filter:focus {
  background-color: var(--button_hover_grey);
  color: var(--basic_black);
}

.button-filter:active {
  background-color: var(--button_click_grey);
  color: var(--basic_black-30);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-filter:visited {
  background-color: var(--button_active-item_grey);
  color: var(--basic_black);
}

.button-filter.disabled,
.button-filter:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic_grey-asphalt-10);
}

body h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic_black); 
  text-align: center;
}

.button-modal {
  padding: 17px 83px;
  border-radius: 0px;
  
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1; 
}

.modal-close:active {
  opacity: 0.1; 
}

.page-button-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-button-item a {
  display: block;
  padding: 17px 20px 15px 20px;
  margin-right: 11px;
  color: var(--basic-black);
  background-color: var(--basic_grey);
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;

}

.button-next  a {
  padding: 17px 77px 15px 78px;
}

.page-button-item a:hover,
.page-button-item a:focus {
  background-color: var(--button_hover_grey);
  color: var(--basic_black);
}

.page-button-item a:active {
  background-color: var(--button_click_grey);
  color: var(--basic_black);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

--button-first a:visited {
  background-color: transparent;
  color: var(--basic_black);
  border: 3px solid var(--button_active-item_grey);
}

.page-button-item a.disabled,
.page-button-item a:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic_grey-asphalt-10);
}

.button-first {
  left: 0;
}

.button-second {
  left: 0;
}



/* Footer */

.main-footer {
  color: var(--basic_black);
  background-color: var(--basic_white);
  background-image: url("");
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  margin-top: 80px;
} 

/* Modal */

.modal {
  display: none;
  position: fixed;
  background-color: var(--basic_white);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  
}

/* Modal write */

.modal-write {
  top: 370px;
  bottom: auto;
  width: 760px;
  padding: 63px 100px 84px ;
}

.write-form input[type="email"],
.write-form input[type="text"] {
  font: inherit;
  color: var(--txt-border_default_grey);
  border: 2px solid var(--border_default_grey);
  border-radius: 3px;
  box-sizing: border-box;
  width: 360px;
  margin-top: 9px;
  padding-top: 16px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-weight: 400;
}

.write-form textarea {
  font: inherit;
  color: var(--txt-border_default_grey);
  border: 2px solid var(--border_default_grey);
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 9px;
  padding-top: 16px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-weight: 400;
}

.write-form input[type="email"]:hover,
.write-form input[type="text"]:hover,
.write-form textarea:hover {
  color: var(--txt-border_default_grey);
  border: 2px solid var(--border_hover_grey);
}

.write-form input[type="email"]:focus,
.write-form input[type="text"]:focus,
.write-form textarea:focus {
  color: var(--txt-border_focus_grey);
  border: 2px solid var(--basic_black);
}

.write-form-item {
  display: flex;
  --justify-content: space-between;
  --grid-template-columns: 1fr 1fr;
  padding: 0px;
  margin: 0px;
  --column-gap: 40px;

}

.write-form input[type="text"] {
  margin-right: 40px;

}

.modal h2 {
  font-size: 45px;
  line-height: 18px;
  font-weight: 700;
}

.modal-close {
  position: absolute;
  top: 95px;
  right: 95px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("/GIT/1063683-nerds-28/img/ic_close-cross.svg");
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.footer-social {
  margin: 0;
  padding: 75px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;

}

.footer-social span {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;

  list-style: none;
  text-align: left;
  text-decoration: none;
  width: 261px;
  justify-self: left;
  margin: 0;
  padding-left:0;

  padding-right: 139px;
  outline: 5px solid rgba(232, 248, 0, 0.7);
  outline-offset: -5px;
  
}

.footer-ending {
  margin: 0;
  padding: 0;
  width: 544px;
  text-align: left;
  outline: 5px solid rgba(0, 37, 248, 0.7);
  outline-offset: -5px;
  
}

.footer-ending p {
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 74px;
}

.footer-ending span {
  margin: 0;
  padding: 0;
}

/* Buttons-footer */

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  --padding: 17px 20px;
  color: var(--basic_white);
  width: 81px;
  height: 81px;
  background-color: var(--social-media_grey);
  border-radius: 50%;
  
}
.button-social span {
  font-size: 16px;
  font-weight: 400;
}

.button-social:active img {
  opacity: 0.3;
}

.footer-list .button-social:hover,
.footer-list .button-social:focus {
  background-color: var(--basic_carmine-pink);
}

.button-social:active {
  background-color: var(--basic_strawberry-red);
  --color: var(--basic_white-30);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-social.disabled,
.button-social:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic_grey-asphalt-10);
}

/* CATALOG */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
 align-content: start;
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.page-catalog h1 {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 180px;
  padding: 0;
}

/* Cards */

.template-list {
  margin-left: 136px;
  --outline-offset: -5px;
  --outline: 5px solid rgba(76, 0, 255, 0.7);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--card_grey); 
  text-align: center;
}

.template-list ul {
  list-style: none;
}

.templates-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.templates-item {
  width: 360px;
  height: 620px;
  margin-right: 42px;
  margin-bottom: 31px;
}

.templates-item:nth-child(2n) {
  margin-right: 0;
}

.templates-item-item {
  margin: 0;
  padding: 0;
}

/* Card grey */

.background-browser {
  position: relative;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 360px;
  background-image: url("/GIT/1063683-nerds-28/img/ic_browser_light.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  padding: 0px;
  min-height: 620px;
  border-radius: 0px 0px 5px 5px ;
 
}
 
.background-browser:hover {
  background-image: url("/GIT/1063683-nerds-28/img/ic_browser.svg");
}

.popup-cards {
  position: relative;
  top: -248px;
  left: 0px;
  height: 231px;
  width: 360px;
  background-color: var(--basic_grey);
  border-radius: 0px 0px 5px 5px ;
  padding: 0px;
  opacity: 0;
}

.templates-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25); 
}

.templates-img  img:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25); 
}

.templates-item:hover .popup-cards {
  opacity: 1;
  width: 360px;
}

.popup-cards h3 {
  padding-top: 26px;
  padding-bottom: 12px;

}

.popup-cards .templates-info {
  margin: 0;
  padding: 0;
}

.button-position {
  margin-top: 30px;
  padding:  17px 72px 15px 72px;
}

.templates-img img{
  width: 358px;
  height: 578px;
  margin-top: 24px;
  border: 1px solid var(--basic_grey-asphalt-12);
  padding: 0;
  border-radius: 0px 0px 5px 5px ;

}

.templates-item:hover img {
  border: none;
  width: 360px;
  border-radius: 0px 0px 5px 5px ;
}

.heading-card {
  font:inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic_black)
  
} 

.heading-card:hover,
.heading-card:focus {
  color: var(--basic_orange-dawn)
}

.heading-card:active {
  color: var(--basic_black-30)
}

.heading-card.disabled,
.heading-card:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic_white-30);
}

.heading-card + p {
  color: var(--card_grey)
}

/* Пока еще не знаю как рисовать прямоугольники и временно поставил тень на карточку */
.browser-frame {
  background-color: var(--basic_grey-asphalt-12);
}
.browser-frame:hover {
  background-color: var(--basic_grey-asphalt);
}

.box-shadow:hover {
box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

/* Filters */

.filter {
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  
}

.filter-all ul {
 
}

.filter-radiobutton {
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
  border: none;
  justify-content: flex-end;
}

.filter-radiobutton li,
.filter-features li{
  line-height: 29px;
}

.filter-checkbox label,
.filter-radio label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  background-image: url("/GIT/1063683-nerds-28/img/ic_checkbox-off.svg");
  width: 23px;
  height: 23px;
  opacity: 1;
 
}


.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 26px;
  height: 23px;
  background-image: url("/GIT/1063683-nerds-28/img/ic_checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 
}



.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0px;
  width: 25px;
  height: 25px;
  background-image: url("/GIT/1063683-nerds-28/img/ic_radio-off.svg");
  --border: 2px solid #000000;
  --border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 25px;
  height: 25px;
  background-image: url("/GIT/1063683-nerds-28/img/ic_radio-on.svg")
  
}

.filter-features {
  margin-top: 29px;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom:29px;

}

.filter ul {
  list-style: none;
  line-height: 19px;
  color: var(--basic_black);
}

.filter-radio,
.filter-checkbox {
  color: var(--basic_black);
}

.filter-radio:hover label,
.filter-radio:focus label, 
.filter-checkbox:hover label,
.filter-checkbox:focus label {
  color: var(--basic_black);

}

.filter-radio.disabled,
.filter-radio:disabled,
.filter-checkbox.disabled,
.filter-checkbox:disabled {
  cursor: default;
  background-color: var(--basic_grey-asphalt-10);
}

/* Filter-price */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 62px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-all legend {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 11px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}